.qr-check-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    padding: 0 20px;
    box-sizing: border-box;
}

.title {
    text-align: center;
    /* Centraliza o título */
    margin-bottom: 20px;
}

.verification-controls {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
    gap: 20px;
}

.verification-left,
.verification-right {
    flex: 1;
}

.matricula-input-field {
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
}

.verify-button {
    color: #ffffff;
    background-color: #344e41;
    /* Cor de fundo do botão de verificação */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

.verify-button:hover {
    background-color: #1abc9c;
    /* Cor ao passar o mouse */
}

.manual-toggle-button {
    background-color: #344e41;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

.manual-toggle-button:hover {
    background-color: #1abc9c;
    /* Cor ao passar o mouse */
}

.manual-mode-info {
    margin: 10px 0;
    font-style: italic;
}

.verified-students-table {
    width: 100%;
    max-width: 1000px;
    margin-top: 20px;
    /* Espaço acima da tabela */
}

.table-container {
    max-height: 300px;
    overflow-y: auto;
}

.students-table {
    width: 100%;
    border-collapse: collapse;
}

.table-header {
    background-color: #344e41;
    color: #ffffff;
    padding: 10px;
}

.table-row:nth-child(even) {
    background-color: #f5f5f5;
}

.table-row:nth-child(odd) {
    background-color: #ffffff;
}

.table-data {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

.table-row:hover {
    background-color: #dddddd;
}

.received-today {
    font-weight: bold;
    color: red;
}

.table-title {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    /* Centraliza o título da tabela */
}