.container-menu-component {
    background-color: #EFEFEF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
}

.img-menu {
    margin-left: 1rem;
    width: 3rem;
}

.menu-container {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 3rem;
    padding: 1.5rem;
}

.menu-font {
    font-size: 1.3rem;
    font-weight: 500;
    color: #000;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
}